SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/nba_news
CACHE_URL=redis://127.0.0.1:6379/1
CHANNEL_LAYER_URL=redis://127.0.0.1:6379/2
DEBUG=True

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password